# Data Files
*.csv
*.xlsx
*.json
!package.json
!tsconfig.json
!jsconfig.json
!vercel.json
!firebase.json

# Environment
.env
.env.local
.venv
venv/
__pycache__/
*.pyc

# Dependencies
node_modules/
dist/
build/

# System
.DS_Store
.idea/
.vscode/
